<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "assets\img\vegetables_eggplant_food_1807.ico" %}">

    <title>Bias Algorithm</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static "assets/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static "assets/css/grayscale.min.css" %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bias Algorithm</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#algorithm">algorithm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">bias algorithm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/more">More</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Bias algorithms</h1>
              <p class="intro-text">An unseen force is rising</p>
              <a href="#algorithm" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="algorithm" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>What Is a Algorithm</h2>
            <p>An algorithm is the set of instructions a computer goes through to meet a goal. For example, if you have a robot and you want it to pick up a coin off the table, you first would tell it to look for a coin on the table. If it finds one, then it would proceed to the next step and so on.</p>
            <p>or the definition that google give you: a process or set of rules to be followed in calculations or other problem-solving operations, especially by a computer.</p>
            <a href="#download" class="btn btn-circle js-scroll-trigger">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>What is A Bias Algorithm</h2>
          <p>Bias algorithm </p>
          <p>Examples of algorithmic bias that have come to light lately, they say, include flawed and misrepresentative systems used to rank teachers, and gender-biased models for natural language processing.</p>
          <!--<a href="#" class="btn btn-default btn-lg">Visit Download Page</a>-->
          <a href="#contact" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Support Inclusive Technology</h2>
            <P>all links and info come from <a href="https://www.ajlunited.org/">ALGORITHMIC JUSTICE LEAGUE</a> and The Coded Gaze project.</P>
            <!--<ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="/more" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">More</span>
                </a>
              </li>
            </ul>-->
          </div>
        </div>
        
        <div class="row text-center">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title text-dark">Highlight Bias</h5>
                      <h6 class="card-subtitle mb-2 text-danger">MEDIA</h6>
                      <p class="card-text text-dark">Help raise awareness about existing bias in coded systems</p>
                      <a href="https://filmmakerscollab.networkforgood.com/projects/26497-filmmakers-collaborative-current-projects-algorithmic-justice-league" class="btn btn-danger">DONATE</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title text-dark">Identify Bias</h5>
                      <h6 class="card-subtitle mb-2 text-danger">RESEARCH</h6>
                      <p class="card-text text-dark">Support the development of tools for checking bias in existing data and software</p>
                      <a href="https://www.media.mit.edu/projects/algorithmic-justice-league/overview/" class="btn btn-primary">COLLABORATE</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title text-dark">Bust Bias</h5>
                      <h6 class="card-subtitle mb-2 text-danger">PARTICIPATE</h6>
                      <p class="card-text text-dark">Stay informed about ways to help test software for bias and create inclusive data.</p>
                      <a href="http://www.ajlunited.org/fight" class="btn btn-primary">VOLUNTEER</a>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <p>
      <a class="btn btn-default" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        feedback
      </a>
    </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="container-fluid content-section align-content-center text-center">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfE9Tx-eBhYObkOpmz0NuSPfCncrFKyiabgoSS9ppcr1YRwOA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        </div>
      </div>
<!--
    <div class="content-section text-center">
      <div class="container">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfE9Tx-eBhYObkOpmz0NuSPfCncrFKyiabgoSS9ppcr1YRwOA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>-->

    <!-- Map Section 
    <div id="map"></div>-->

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy;Efrain-Gtz 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "assets/vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxyv5a6qoVVNw6jIABnky4kG_WEafVw0M&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "assets/js/grayscale.min.js" %}"></script>
    

  </body>

</html>
