<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="jumbotron-fluid">
        <div class="text-center">
            <h1 class="display-1">artical</h1>
        </div>
    </div>

    <!--bootstrap core-->
    <script src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>